includes:
	- config.level1.neon

parameters:
	checkClassCaseSensitivity: true
	checkThisOnly: false
	checkPhpDocMissingReturn: true

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] attribute
	level: 2

conditionalTags:
	PHPStan\Rules\InternalTag\RestrictedInternalPropertyUsageExtension:
		phpstan.restrictedPropertyUsageExtension: %featureToggles.internalTag%
	PHPStan\Rules\InternalTag\RestrictedInternalMethodUsageExtension:
		phpstan.restrictedMethodUsageExtension: %featureToggles.internalTag%

services:
	-
		class: PHPStan\Rules\Classes\MixinRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\PhpDoc\RequireExtendsCheck
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%
			discoveringSymbolsTip: %tips.discoveringSymbols%

	-
		class: PHPStan\Rules\PhpDoc\RequireImplementsDefinitionTraitRule
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%
			discoveringSymbolsTip: %tips.discoveringSymbols%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Functions\CallCallablesRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\PhpDoc\InvalidPhpDocTagValueRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\PhpDoc\InvalidPhpDocVarTagTypeRule
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%
			checkMissingVarTagTypehint: %checkMissingVarTagTypehint%
			discoveringSymbolsTip: %tips.discoveringSymbols%
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\PhpDoc\InvalidPHPStanDocTagRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\InternalTag\RestrictedInternalPropertyUsageExtension

	-
		class: PHPStan\Rules\InternalTag\RestrictedInternalMethodUsageExtension
