includes:
	- config.level2.neon

autowiredAttributeServices:
	# registers rules with #[RegisteredRule] attribute
	level: 3

parameters:
	checkPhpDocMethodSignatures: true

services:
	-
		class: PHPStan\Rules\Arrays\InvalidKeyInArrayDimFetchRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Arrays\InvalidKeyInArrayItemRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Arrays\NonexistentOffsetInArrayDimFetchRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Exceptions\ThrowsVoidFunctionWithExplicitThrowPointRule
		arguments:
			exceptionTypeResolver: @exceptionTypeResolver
			missingCheckedExceptionInThrows: %exceptions.check.missingCheckedExceptionInThrows%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Exceptions\ThrowsVoidMethodWithExplicitThrowPointRule
		arguments:
			exceptionTypeResolver: @exceptionTypeResolver
			missingCheckedExceptionInThrows: %exceptions.check.missingCheckedExceptionInThrows%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Exceptions\ThrowsVoidPropertyHookWithExplicitThrowPointRule
		arguments:
			exceptionTypeResolver: @exceptionTypeResolver
			missingCheckedExceptionInThrows: %exceptions.check.missingCheckedExceptionInThrows%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Generators\YieldFromTypeRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Generators\YieldInGeneratorRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule
