services:
	-
		class: RestrictedUsage\MethodExtension
		tags:
			- phpstan.restrictedMethodUsageExtension
	-
		class: RestrictedUsage\FunctionExtension
		tags:
			- phpstan.restrictedFunctionUsageExtension
