services:
	-
		class: RestrictedUsage\ClassConstantExtension
		tags:
			- phpstan.restrictedClassConstantUsageExtension
	-
		class: RestrictedUsage\MethodExtension
		tags:
			- phpstan.restrictedMethodUsageExtension
	-
		class: RestrictedUsage\FunctionExtension
		tags:
			- phpstan.restrictedFunctionUsageExtension
	-
		class: RestrictedUsage\PropertyExtension
		tags:
			- phpstan.restrictedPropertyUsageExtension
